<!DOCTYPE html>

    
        
    
<head>
   
    <link rel="stylesheet" href="./styles/logout.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat%3A300%2C500%2C600"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A300%2C500%2C600"/>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
   
    
</head>
<body>
    
    <div>
        <h1>Student Information Management System</h1>
    </div>
    
    <div class="logout-5sw">
        
        
        <div class="form-Dcm">
        <a href="/create" role="button">C</a> <br>
        <a href="/find" role="button">R</a> <br>
        <a href="/list" role="button">U</a> <br>
        
        
        
        <a class="logout-btn-MAZ " href="/logout"><button type="submit">LOGOUT</button></a>
        
     
        </div>
    </div>
    






</body>
</html>
