<!DOCTYPE html>

    
        
    
<head>
   
    <link rel="stylesheet" href="./styles/login.css"/>
    <link rel="stylesheet" href="./styles/logout.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat%3A300%2C500%2C600"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A300%2C500%2C600"/>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#000000" />
    <title>Home</title>
   
    
</head>
<body>
    
  <form action="/login" method="post">
    <div class="login-5sw">
  
       
        
        <div class="form-Dcm">
          
      
          <form action="/login" method="post">
          <a  id="create-link" href="/create" role="button">Create Stock Information</a> <br>
          <a  id="update-link" href="/update" role="button">Update Stock Information</a> <br>
          <a  id="read-link" href="/read" role="button">Read Stock Information</a> <br>
          <a  id="delete-link" href="/delete" role="button">Delete Stock Information</a> <br>
            
          
          <button class="login-btn-MAZ" type="submit" value="LOGIN">LOGOUT</button>
          
         
    
        
        
        </form>
        </div>
      
       
      
      
      
      
      
      
      
      
      
      </div>


 







</body>
</html>
